.*
!/.gitignore
/user-uploads/*
/admin-application/views/innovas
/application/views/innovas
/conf
/index.php
/library/core
/public/cache/*
/public/settings.php
/public/sitemap.xml
/public/phpinfo.php
/public/info.php
/public/server_info.php
/public/unlink-files.php
/public/delete-files-from-server.php
