#.*
#!/.gitignore
/robots.txt
/public/robots.txt
/.htaccess
/public/.htaccess
/user-uploads/*
/admin-application/views/innovas
/application/views/innovas
/conf
/index.php
/library/core
/public/cache/*
/public/settings.php
/public/sitemap.xml
/public/restore.php
/library/license.txt
/license.txt
/mbs-errors.log
/restore
/bkup


# zip files
/*.zip
/*.rar
/*.tar
/*.gz

# Composer
/vendor
composer.lock

# phpenv local config
.php-version

# IDE Files
/nbproject/
.idea/*

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml

# Visual Studio Code
.vscode/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

php_errors.log