/user-uploads/*
/public/settings.php
/public/server_info.php
/public/unlink-files.php
/conf/yokart-v8-1-test.staging.4demo.biz.php
/conf/yokart-v8-1.anuprawat.4demo.biz.php
/conf/yokart-v8-1.anuprawat.bestech.4demo.biz.php
/conf/yokart-v8-1.manpreetkaur.bestech.4demo.biz.php

