@media only screen and (max-width: 1366px) {
	.container {
		max-width: 1250px;
	}
}

@media only screen and (max-width: 1281px) {
	.container {
		max-width: 1120px;
	}

	html {
		font-size: 14px;
	}

	/*dashboard nav*/
	.sidebar-is-expanded .sidebar {
		width: 250px;
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}

	.header-dashboard {
		padding-left: 20px;
	}

	.sidebar {
		-webkit-transform: translateX(-70px);
		transform: translateX(-70px);
	}

	.logo-wrapper {
		width: calc(100% - -70px);
	}

	main.main,
	.sidebar-is-expanded main.main {
		padding-left: 0;
	}

	.content-wrapper.content-space {
		margin: 15px;
	}

	.widget-wrapper {
		margin: 0 auto;
	}

	.widget-stats {
		padding-inline-end: 5px;
		padding-inline-start: 5px;
		max-width: none;
	}

	/*dashboard nav end*/
}

@media only screen and (max-width: 1025px) {
	html {
		font-size: 13px;
	}

	.hide--tab {
		display: none !important;
	}

	.hide--desktop {
		display: block !important;
	}

	.padding15,
	.padding20 {
		padding: 10px;
	}

	.padd40 {
		padding: 15px 0;
	}

	#header {
		height: 97px;
	}

	.after-header {
		height: 97px;
	}

	.top_bar .slogan {
		display: none;
	}

	.short-links > ul > li.dropdown {
		display: inline-block;
	}

	.logo {
		margin: 0;
		margin-left: 0;
		width: 100px;
		height: 55px;
		max-height: 100px;
		line-height: 45px;
		padding: 5px 0;
		margin-left: 0;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		display: block;
	}

	.logo img {
		max-height: 100%;
		max-width: 100%;
	}

	.fixed .logo {
		margin-left: 45px;
	}

	.main-search {
		height: auto;
		float: right;
		background: none;
		margin-top: 5px;
	}

	.form--search-popup {
		height: auto;
		top: 0;
	}

	.link__close {
		-webkit-transform: none;
		transform: none;
		top: 10px;
	}

	.form--search-popup .select__cover {
		float: none;
	}

	.form--search-popup .form__cover {
		left: 5%;
		right: 5%;
	}

	.form--search-popup .form__cover form {
		display: block;
	}

	.form--search-popup .form__cover input[type="text"],
	.form--search-popup .form__cover select {
		display: block;
		width: 100%;
		border: none;
		border-bottom: solid 1px rgba(255, 255, 255, 0.2);
	}

	.form--search-popup .form__cover input[type="text"] {
		border: none;
	}

	.form--search-popup .form__cover input[type="submit"] {
		position: static;
		display: block;
		margin: 0;
		width: 100%;
		background-color: #000;
	}

	.toggle--search {
		display: inline-block;
		padding: 10px;
	}

	.toggle--search .icn-txt,
	.cart .icn-txt,
	.login-account .icn-txt {
		display: none;
	}

	.cart > a {
		padding: 10px;
		margin: 0;
	}

	.cart-detail {
		min-width: inherit;
	}

	.cartdetail__footer {
		padding: 10px;
	}

	.login-account {
		margin: 5px 0 0 0;
	}

	.login-account > a {
		padding: 10px;
		margin: 0;
		display: inline-block;
	}

	.yk-slides .slick-arrow {
		display: none !important;
	}

	.shops .item-yk {
		border: none;
		padding: 10px;
	}

	.item-yk-head-lable {
		right: 10px;
	}

	.item-yk .item-yk-head-title {
		white-space: normal;
	}

	/*search*/
	.main-search {
		height: auto;
		background: none;
		margin: 0;
		float: none;
		width: auto;
		-webkit-box-flex: 0;
		-ms-flex: none;
		flex: none;
	}

	.toggle--search .icn {
		width: 30px;
		height: 30px;
		background-size: 15px;
		border: solid 2px var(--border-color);
		border-radius: 50%;
	}

	.form--search-popup {
		border-radius: 0;
		margin: 0;
		position: fixed;
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
		z-index: 100;
		-webkit-transition: all 400ms ease-in;
		transition: all 400ms ease-in;
		border: none;
		background: #fff;
		opacity: 0;
		visibility: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.is--form-visible .form--search-popup {
		opacity: 1;
		visibility: visible;
	}

	.form--search-popup .link__close {
		display: block;
		right: 10px;
	}

	.link__close {
		-webkit-transform: none;
		transform: none;
		top: 10px;
	}

	.toggle--search {
		display: inline-block;
		padding: 0 5px;
	}

	.main-search-form {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 90%;
		max-width: 400px;
		margin: 0 auto;
	}

	.select__value {
		display: none;
	}

	.main-search-form .search--keyword {
		border: solid 1px var(--first-color);
		border-radius: 4px;
	}

	.search--btn {
		background-image: none;
		text-align: center;
		padding: 0 22px;
		border-radius: 4px;
		margin: 5px 0;
	}

	.toggle--search .icn-txt,
	.cart .icn-txt,
	.login-account .icn-txt {
		display: none;
	}

	.cart {
		padding-left: 0;
	}

	.cart > a {
		padding: 0 5px;
		min-width: inherit;
		margin: 0;
	}

	.cart .icn {
		margin: 0;
		width: 30px;
		height: 30px;
		background-size: 15px;
	}

	.cart-is-active .dropsection {}

	.cart-detail {
		min-width: inherit;
		width: auto;
	}

	.cartdetail__footer {
		padding: 10px;
	}

	.login-account {
		margin: 5px 0 0 0;
	}

	.login-account > a {
		padding: 10px;
		margin: 0;
		display: inline-block;
	}

	.yk-slides .slick-arrow {
		display: none !important;
	}

	.shops .item-yk {
		border: none;
		padding: 10px;
	}

	.item-yk-head-lable {
		right: 10px;
	}

	.item-yk .item-yk-head-title {
		white-space: normal;
	}

	.fetured-slider .fetured-item {
		border: none;
		padding: 10px 10px;
	}

	.featured-product,
	.featured-desc {
		display: block;
	}

	.featured-product {
		width: auto;
	}

	.section {
		padding: 20px 0;
	}

	.section-head {
		margin: 0;
		padding: 10px 0;
	}

	.section-head .section_action {
		display: inline-block;
		float: none;
		vertical-align: bottom;
	}

	.section-head .section_action a {}

	.ftshops .ftshops_item_head_right {}

	.tabz {
		white-space: nowrap;
		overflow-x: scroll;
	}

	/*footer*/
	.store-button .icn {
		display: none;
	}

	.subscription {
		margin: 10px 0;
		padding: 10px;
	}

	.sub-form {
		margin-bottom: 10px;
	}

	.bottom-footer .fixed-container {
		padding: 0;
	}

	/*listing page*/
	.right-panel {
		padding: 10px;
	}

	.right_panel_head_right {
		float: none;
		text-align: left;
		margin: 10px 0;
	}

	.right_panel_head_right .link__filter {
		display: inline-block !important;
	}

	.sort-by li {
		display: block;
		margin: 3px 0;
	}

	body.filter__show .filters__ele {
		opacity: 1;
		-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	}

	.filters__ele {
		bottom: 0;
		-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
		left: 0;
		opacity: 0;
		overflow: auto;
		position: fixed;
		top: 0;
		-webkit-transform: translate(-100%, 0px);
		transform: translate(-100%, 0px);
		-webkit-transition: all 300ms ease 0s;
		transition: all 300ms ease 0s;
		width: 260px;
		z-index: 111;
		padding: 10px;
	}

	/**/
	.widgets-heading {
		position: relative;
	}

	.widgets-heading:after {
		content: "+";
		padding-left: 5px;
	}

	.widgets-heading.active:after {
		content: "-";
	}

	.toggle-target {
		display: none;
	}

	/**/
	.banner-shop img {}

	.abt-shops {
		padding: 10px;
	}

	.abt-shops .ftshops_logo {
		float: none;
		margin: 10px 0;
		display: block;
		text-align: center;
	}

	.abt-shops .ftshops_detail {
		margin: 0;
	}

	.shop-owner {
		padding: 10px;
	}

	.shop-links {
		text-align: left;
	}

	.shop-links li {
		margin: 0px;
		padding: 10px;
		display: block;
	}

	.testimonial-blocks {
		padding: 15px;
	}

	.testimonial-blocks .from {
		padding-right: 0;
		text-align: left;
		margin-bottom: 20px;
	}

	.testimonial-blocks .from .avatar {
		float: none;
	}

	.table {
		display: table;
		overflow-x: auto;
	}

	.table td,
	.table th {
		/*white-space: pre-wrap;*/
	}

	.panel--centered .box--tabled {
		padding: 20px;
	}

	.dropdown__target {
		position: fixed;
		top: 0;
		overflow-x: auto;
		height: 100%;
		border-radius: 0;
		left: auto;
		right: 0;
	}

	.panel__right--full {
		width: 100%;
	}

	.listing--items li {
		padding: 0 10px 0 0;
		width: 38%;
	}

	.scroller--items.align--right {
		margin: 15px 0 0;
		text-align: left !important;
	}

	.scroller--items {
		overflow: auto;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	}

	.listing--items li .item__link span {
		white-space: normal;
	}

	.section--info .section__body .box {
		padding: 0;
	}

	.cols--group {
		padding-top: 10px;
	}

	.cols--group .box {
		padding: 10px;
	}

	.cols--group .box__body {
		padding: 10px 0 0;
	}

	.box.box--space {
		padding: 10px;
	}

	.media > li .grid--second {
		width: auto;
	}

	.dashboard-switch {
		background: #fff;
		padding: 10px 0;
		-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
		/*border-bottom: solid 1px var(--border-color);*/
	}

	.statistics__box {
		min-height: inherit;
	}

	.mobile-switch {
		margin: 0 auto;
		border-radius: 2px;
		text-align: center;
		border: solid 1px var(--border-color);
		width: auto;
		display: table;
	}

	.mobile-switch a {
		padding: 10px;
		display: table-cell;
		vertical-align: top;
		width: 33%;
		text-align: center;
		text-transform: uppercase;
		color: var(--txt-color-light);
	}

	.mobile-switch a.is-active {
		background: var(--border-color);
		color: #000;
	}

	.dashboard {
		padding-top: 0;
	}

	.dashboard .breadcrumb {
		margin-top: 15px;
	}

	.top-space {
		padding-top: 0;
	}

	.balanceinfo {
		float: none;
		margin: 0 0 15px;
	}

	.boxcontainer .box--gray {
		margin: 10px 0 0;
		padding: 20px 20px 20px 60px;
	}

	.boxcontainer .box--gray .fa {
		color: #ffffff;
		font-size: 2em;
		left: 20px;
		position: absolute;
		top: 20px;
	}

	.page-banner .banner-txt h1 {
		font-size: 2.5em;
	}

	.page-banner .banner-txt h4 {
		font-size: 1.5em;
	}

	.shops-detail {
		padding-top: 10px;
	}

	.top_bar {
		padding: 0;
	}

	.last-bar {
		border-top: none;
	}

	.cart span.icn {
		margin: 0;
		width: 30px;
		height: 30px;
		background-size: 15px;
	}
}

@media only screen and (max-width:992px) {
	.btn-groups {
		margin-top: 10px;
	}

	.ftshops .shop-detail-side {
		max-width: 260px;
	}

	.product-description {
		padding: 1rem;
		min-width: inherit;
	}

	.column--md {
		margin-bottom: 15px;
	}

	.bg-shop {
		padding: 0 15px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.shop-col {
		max-width: inherit;
	}

	.shop-logo {
		width: 150px;
		height: 150px;
		margin: 15px auto;
	}

	.shop-info {
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}

	.shop-info .share-this {
		margin: 10px auto;
	}

	.shop-info .products__rating {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.shop-info .shop-btn-group {
		margin: 0 auto;
	}

	.top-bar {
		height: auto;
	}

	.contact-box .contact-pic {
		max-height: 300px;
	}

	.contact-box .contact-pic img {
		max-width: none;
	}

	.buttons-list-checkout ul {
		flex-direction: column;
	}
}

@media only screen and (max-width: 767px) {
	.column {
		margin-bottom: 15px;
	}

	.hide--mobile {
		display: none !important;
	}

	.f-links h3 {
		position: relative;
	}

	.f-links h3:before {
		background: #44596B;
		content: '';
		height: 2px;
		margin-right: 10px;
		position: absolute;
		right: 0;
		top: 50%;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		width: 14px;
	}

	.f-links h3:after {
		background: #44596B;
		content: '';
		height: 2px;
		margin-right: 10px;
		position: absolute;
		right: 0;
		top: 50%;
		width: 14px;
	}

	.f-links h3.active:before {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	.f-links ul {
		display: none;
	}

	.panel--centered .box--tabled {
		padding: 10px;
	}

	.panel--centered .box {}

	.box--tabled .box__cell {
		display: block;
		vertical-align: top;
		width: 100%;
		padding: 0;
	}

	.box--tabled .box__cell:last-child {
		width: 100%;
	}

	.box--tabled .box__cell:first-child {
		border-right: none;
		border-bottom: solid 1px var(--border-color);
	}

	.box--tabled .box__cell .listing--icons {
		padding: 0;
	}

	.panel__head .panel__head_action {
		float: none;
	}

	.panel__head .links--inline {
		float: none;
		display: block;
	}

	.panel__head .links--inline li {
		padding: 0 5px 0 0;
	}

	.cols--group .col__left,
	.cols--group .col__right {
		clear: none;
		float: none;
		width: auto;
	}

	.cols--group .box__head .group--btns .btn,
	.group--btns .btn {
		margin: 5px 5px;
	}

	.table {
		white-space: nowrap;
		display: block;
	}

	.table .caption--td {
		display: block;
	}

	.grid--onethird > li {
		float: none;
		width: auto;
	}

	.shops-detail .item-yk_rating {
		margin: 0;
	}

	.grids--container .cellright {
		border: none;
		margin-left: 0;
		padding: 10px;
		min-height: inherit;
		margin-bottom: 5px;
	}

	.grids--container .cellright {}

	.listing-products--list .item-yk {
		display: block;
	}

	.listing-products--list .item-yk-head,
	.listing-products--list .item-yk_body,
	.listing-products--list .item-yk_footer {
		display: block;
		width: auto;
	}

	.listing-products--list .item-yk .collections-ui {
		position: static;
	}

	.listing-products--list .item-yk .product_price {
		font-size: 1.1em;
	}

	.grids--profile .grid__right {
		margin-bottom: 10px;
	}

	.grids--profile .grid__right,
	.grids--profile .grid__left {
		float: none;
		width: auto;
	}

	.cg-nav-wrapper ul li {
		display: block;
		width: auto;
	}

	.short-links > ul > li {
		padding: 12px 0;
		margin: 0 5px;
	}

	.short-links > ul > li:after {
		content: normal;
	}

	.short-links > ul > li > a span {}

	.shop-bar {
		padding: 0;
	}

	.grids--offset {
		margin: 0;
	}

	.grids--offset .grid-layout {
		padding: 10px 0;
	}

	.grids--offset .grid-layout .info--order {
		text-align: left;
	}

	.product-options li {
		padding: 10px;
		margin: 10px 0;
		text-align: center;
	}

	.product-options li .icn {
		font-size: 2em;
		float: none;
		display: block;
		margin: 0 auto;
		text-align: center;
	}

	.product-options li p {
		font-size: 1.2em;
	}

	.auto-renew {
		float: none;
	}

	.g-recaptcha {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	.section-head .section_heading {
		font-size: 1.5em;
	}

	.fixed__panel .stick {
		width: auto;
	}

	/**/
	.upperContent-footer p {
		display: none;
	}

	/**/
	.group--social-onehalf .btn {
		padding: 10px 0;
	}

	.group--social-onehalf .fb-color {
		margin-right: 0;
	}

	.tabs--offset {
		margin: 0 -10px 40px;
		margin-bottom: 20px;
	}

	.site-map-list > ul > li {
		width: 49%;
	}

	.upperContent-footer ul li {
		display: block;
		width: auto;
		border: none;
		border-bottom: solid 1px var(--border-color);
	}

	.hero-slider .hero-item {
		padding: 0;
	}

	.trending-corner .item-yk {
		margin-bottom: 15px;
	}

	.ft-pro-wrapper {
		grid-template-columns: 50% 50%;
		grid-gap: 5px;
	}

	.ft-pro.ft-pro-1 {
		grid-column-end: 3;
		grid-row-end: 2;
	}

	.ft-products .ft-products-item {
		display: block;
		margin-bottom: 0;
	}

	.ft-products .ft-products-item .item-yk_body {
		width: auto;
		margin: 0 auto;
	}

	.ftshops .ftshops_item {
		display: block;
	}

	.ftshops .shop-detail-side,
	.ftshops.ftshops-rtl .shop-detail-side {
		border-radius: 5px;
	}

	.ftshops .product-wrapper,
	.ftshops.ftshops-rtl .product-wrapper {
		margin: 15px auto;
		border-radius: 5px;
		border: solid 1px var(--border-color);
	}

	.cat-tittle,
	.cat-list {
		padding: 0 15px;
	}

	.social {
		margin: 0 auto;
		text-align: center;
	}

	.payment {
		text-align: center;
	}

	.ftshops .shop-detail-side {
		max-width: 100%;
	}

	.copyright {
		padding: 15px 0;
	}

	.buy-group .btn {
		min-width: inherit;
	}

	.shop-info {
		padding: 0;
	}

	.profile-wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.profile-wrapper .profile__dp {
		margin: 15px auto;
		width: 120px;
		height: 120px;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 120px;
		flex: 0 0 120px;
	}

	.profile-wrapper .profile__bio {
		text-align: center;
	}

	.container-info {
		display: none;
	}

	.container-form {
		position: static;
		-webkit-transform: none;
		transform: none;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.form-item {
		padding: 25px;
		position: static;
		-webkit-transform: none;
		transform: none;
	}

	.form-item.sign-up {
		border-top: solid 1px var(--border-color);
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}

	/*Checkout*/
	.nav-checkout {
		display: none;
	}

	.checkout--steps__inner {
		padding: 20px 0 0 0;
	}

	.buttons-list-checkout ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.selected-panel {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.selected-panel-type,
	.selected-panel-data,
	.selected-panel-action {
		margin: 8px 0;
		-webkit-box-flex: 0;
		-ms-flex: none;
		flex: none;
		max-width: none;
	}

	.same-as {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.same-delivery {
		border: none;
	}

	.shipping-seller-title {
		padding: 10px 0;
	}

	.payment_methods_list {
		height: auto;
	}

	.order-summary {
		position: static;
		top: auto;
		padding: 0;
		border-top: solid 1px var(--border-color);
	}

	.body--checkout:after {
		content: normal;
	}

	.dashboard-types ul {
		flex-wrap: nowrap;
		overflow: hidden;
		overflow-x: auto;
	}

	.login-wrapper .form-side,
	.login-wrapper .add-side {
		flex: auto;
		max-width: none;
	}

	.login-wrapper .add-side {
		background: none;
	}

	.contact-info {
		flex-direction: column;
		align-items: flex-start;
	}

	.listing--grids ul {
		flex-direction: column;
	}

	.listing--grids ul li {
		margin: 5px 0;
	}
	.bg-brands{ min-height: 150px;}
	.page-sort ul li{ margin:  0 2px;}
}

@media only screen and (max-width: 600px) {
	.aligner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.buy-group .btn .icn {
		display: none;
	}
}