<IfModule mod_rewrite.c>
Options +FollowSymlinks
RewriteEngine on
RewriteBase /yokartv8/

RewriteRule ^admin$ admin.php [PT,L]
RewriteRule ^admin/(.*)$ admin.php?url=$1 [PT,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?url=$1 [PT,L,QSA]

</IfModule>
