html {
  direction: rtl;
}

th, .grids--offset .grid-layout p {
  text-align: right;
}

@media (min-width: 768px) {

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: right;
  }
}

@media (min-width: 992px) {

  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: right;
  }
}

@media (min-width: 1200px) {

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: right;
  }
}

/*float:right*/
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.main-search,
.navigations>li,
.breadcrumb ul li,
.listing--progress>li .grid--left,
.listing--progress>li .grid--right,
.sub-form input[type="text"],
.summary-listing .item-yk-head-category,
.pagination li,
.rating-f .br-widget,
.tabs li {
  float: right;
}

/*float:left*/
.login-account,
.cart,
.section-head .section_action,
.panel__head .panel__head_action,
.panel__head .links--inline,
.seller-register-form,
.group__info,
.cols--group .box__head .group--btns,
.cart-footer .cartdetail__footer,
.btn-action,
.right-info,
.sub-form input[type="submit"],
.apply--coupon--form input[type="submit"],
.widgets-head .action,
.cols--group .box__head .link--arrow,
.summary-listing .product_price,
.accordion_triger span,
.media>li .grid--fourth,
form.custom-form input[type="submit"],
.dashboard-togles .fa,
.auto-renew,
.statistics__box .value--total {
  float: left;
}

/* float: none;*/
.align--right,
.align--right {
  text-align: left !important;
}

.sublinks {
  text-align: right;
}

.cart .cartQuantity {
  right: auto;
  left: 0;
}

.logo {
  float: right;
}

.form--search-popup .select__value {
  border-right: none;
  border-left: solid 1px rgba(255, 255, 255, 0.22);
}

.form--search-popup .link__close {
  right: auto;
  left: 20px;
}

.short-links,
.ftshops .ftshops_item_head_right,
.seller-login {
  text-align: left;
}

.login-account {
  margin-left: 0;
}

.item-yk-head-lable {
  left: 20px;
  right: auto;
}

.box--tabled .box__cell:first-child {
  border-right: none;
  border-left: 1px solid var(--border-color);
  padding-left: 70px;
  padding-right: 0;
}

.box--tabled .box__cell .listing--icons {
  padding-right: 50px;
}

.form--normal input[type="submit"] {
  margin-right: 0;
  margin-left: 20px;
}

.listing--icons li .fa {
  float: right;
  margin: 0 0 0 20px;
}

.right_panel_head_right {
  float: left;
  text-align: left;
}

.item-yk .item-yk_ft_list li:before {
  right: 0;
  left: auto;
}

.item-yk .collections-ui,
.item-yk .collections-ui.static--collection {
  left: 0;
  right: auto;
}

.item-yk .collections-ui {
  left: 40px;
}

.checkbox,
.radio {
  padding-right: 30px;
  padding-left: 0;
}

.checkbox input,
.radio input,
.checkbox .input-helper:before,
.radio .input-helper:before,
.bullet-list li:before,
.container--cms ul li:before,
.box.box--list .links--vertical li .fa {
  right: 0;
  left: auto;
}

.radio .input-helper::after {
  right: 4px;
  left: auto;
}

.checkbox .input-helper:after {
  right: 3px;
  left: auto;
}

.box.box--list .links--vertical li {
  padding-right: 25px;
}

.section__head .btn--positioned {
  left: 0;
  right: auto;
}

.form--search-popup .form__cover input[type="submit"] {
  left: 0;
  right: auto;
}

.form--search-popup .form__cover select {
  background-position: left center;
}

.short-links>ul>li:last-child {
  margin-left: 0;
}

.cart-is-active body {
  right: auto;
  left: 450px;
}

.dropdown__target,
.dropsection {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  right: auto;
  left: 0;
}

.list--vertical a {
  text-align: right;
}

.ftshops .ftshops_logo {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}

.breadcrumb ul li {
  padding-right: 0;
  padding-left: 25px;
}

.breadcrumb ul li:before {
  right: auto;
  left: 10px;
}

.buy-group .btn {
  margin-right: 0;
  margin-left: 10px;
}

.text-left {
  text-align: inherit;
}

.panel--cols .col--right {
  clear: left;
}

.panel--cols .col--left {
  padding-right: 15px;
}

.cols--group .col__left {
  clear: none;
  float: right;
}

.cols--group .col__right {
  clear: left;
  float: left;
}

.table--view th,
.table--view td,
.table td,
.table th {
  text-align: right;
}

.field--calender {
  background-position: 13px center;
  padding: 0 10px;
  padding-left: 30px;
}

.list__selection .checkbox,
.list__selection .radio {
  left: auto;
  right: 25px;
}

.list__selection h6 {
  padding-right: 30px;
}

.social-networks {
  right: auto;
  left: 0;
}

.form--singlefield input[type="text"] {
  float: right;
}

.form--singlefield input[type="submit"] {
  float: left;
}

.listing--grids ul li {
  padding: 0 0 0 20px;
}

#facebox {
  text-align: inherit;
}

#facebox .close,
.close,
.system_message .closeMsg {
  right: auto;
  left: 10px;
}

#facebox .close {
  right: auto;
  left: 0;
}

.form--search-popup .select__value {
  padding: 0 15px 0 35px;
}

.form--search-popup .select__value:after {
  right: auto;
  left: 14px;
}

.listing--check li a {
  padding: 0 25px 0 0;
}

.listing--check li a {
  background-position: right 2px;
}

.listing--check li.is-active a {
  background-position: right -55px;
}

.box.box--list .links--vertical {
  margin: 0;
}

.gurantee i.icn {
  float: right;
  margin-left: 15px;
}

.coupon-offers li:before {
  left: auto;
  right: 0;
}

/*
.alert--success {
  background: url(../images/icon--success.svg) no-repeat calc(100% - 15px) 16px #00b6ad;
  background-size: 30px;
}

.alert--info {
  background: url(../images/icon--info.svg) no-repeat calc(100% - 15px) 16px #02b4d1;
  background-size: 30px;
}

.alert--warning {
  background: url(../images/icon--warning.svg) no-repeat calc(100% - 15px) 16px #f3c532;
  background-size: 30px;
}

.alert--danger {
  background: url(../images/icon--attention.svg) no-repeat calc(100% - 15px) 16px #f35f5f;
  background-size: 30px;
}

.div_error {
  text-align: right;
  background: url(../images/icon--attention.svg) no-repeat calc(100% - 15px) 15px #f35f5f;
  background-size: 30px;
}*/
#mbsmessage .content::before,
.system_message .content::before {
  left: auto;
  right: -45px;
}

.box__head .btn {
  float: left;
}

.testimonial-blocks .description {
  text-align: right;
  padding-left: 0;
  padding-right: 60px;
}

.testimonial-blocks .description:before {
  left: auto;
  right: 0;
}

.cms-editor ul li:before {
  left: auto;
  right: 0;
}

.statistics__box h4 span {
  padding: 0 0 0 20px;
}

.statistics__box {
  text-align: right;
}

.statistics__box h4:before {
  right: 0;
}

select {
  padding-right: 10px;
  padding-left: 35px;
  background-position: center left;
}

input[type="text"].p-cards {
  background-position: left 3px;
}

input[type="text"].p-cards.amex {
  background-position: -135px -34px;
}

input[type="text"].p-cards.visa {
  background-position: -135px -70px;
}

input[type="text"].p-cards.master {
  background-position: -135px -106px;
}

input[type="text"].p-cards.meastro {
  background-position: -135px -141px;
}

.cat-accordion {
  padding: 0;
}

.cat-accordion .acc-trigger {
  left: auto;
  right: 4px;
  transform: rotate(45deg);
}

.media--details>li .grid--first {
  padding-right: 0;
  padding-left: 20px;
}

.post-data .sticky-element {
  left: auto;
  right: -90px;
}

.post-data.is-fixed .sticky-element {
  left: auto;
  right: 50%;
  margin: 0 -700px 0 0;
}

.search-form {
  right: auto;
  left: 0;
}

.nav-blog {
  text-align: left;
}

.likes-count li .icn-like,
.likes-count li .icn-msg {
  margin-right: 0;
  margin-left: 10px;
}

.post__detail {
  text-align: right;
}

.nav--toggled>ul>li>a {
  padding: 12px 10px 12px 40px;
}

.nav--toggled>ul>li ul li a {
  padding: 10px 15px 10px 40px;
}

.nav--toggled>ul>li .link--toggle {
  right: auto;
  left: 0;
}

.selected-panel-type::before {
  left: auto;
  right: 0;
}

.selected-panel-type {
  padding-left: 0;
  padding-right: 25px;
}

.selected-panel-action {
  text-align: left;
}

.payment_methods_list li a {
  padding-left: 20px;
  padding-right: 45px;
}

.payment_methods_list li a::before {
  left: auto;
  right: 15px;
}

.summary-listing .product_price {
  clear: left;
}

.summary-listing .product_qty {
  float: right;
  clear: right;
}

.boxcontainer .box--gray .fa {
  left: auto;
  right: 20px;
}

.boxcontainer .box--gray {
  padding: 30px 110px 20px 40px;
}

.widgets-heading::after {
  right: auto;
  left: 0;
}

.group--social-onehalf .fb-color {
  margin-right: 0;
  margin-left: 10px;
}

.pagination li .fa.fa-angle-right {
  /* -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); */
}

@media only screen and (max-width: 1600px) {
  .post-data.is-fixed .sticky-element {
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .navs_toggle {
    left: auto;
    right: 8px;
  }

  .ftshops .ftshops_item_head_right,
  .seller-login {
    text-align: right;
  }

  .navigations>li {
    float: none;
  }

  .fixed .logo {
    margin-left: 0 !important;
    margin-right: 45px !important;
  }

  .main-search {
    float: left;
  }

  .form input[type="submit"] {
    margin-right: 0;
  }

  .social-networks {
    left: 100px;
  }

  .list--vertical li .parents--link:after {
    right: auto;
    left: 10px;
  }

  .wrapper-menu {
    right: auto;
    left: 0;
  }

  .wrapper-menu.open .line-menu.start {
    -webkit-transform: rotate(-90deg) translateX(-5px);
    transform: rotate(-90deg) translateX(-5px);
  }

  .wrapper-menu.open .line-menu.end {
    -webkit-transform: rotate(-90deg) translateX(5px);
    transform: rotate(-90deg) translateX(5px);
  }

  .wrapper-menu .line-menu.start {
    -webkit-transform-origin: left;
    transform-origin: left;
  }

  .wrapper-menu .line-menu.end {
    -webkit-transform-origin: right;
    transform-origin: right;
  }

  .nav__secondary li a {
    text-align: inherit;
  }
}

@media only screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
  }

  .logo {
    float: right;
    margin: 5px auto !important;
  }

  .header-blog .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .f-links h3:after,
  .f-links h3:before {
    right: auto;
    left: 0;
  }

  .cart-footer .cartdetail__footer {
    float: none;
  }

  .tabs--scroll:after {
    right: auto;
    left: 0px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  .toggle--nav-vertical:after,
  .toggle--nav-vertical:before {
    right: auto;
    left: 15px;
  }

  .panel__head .links--inline {
    float: none;
  }

  .cols--group .col__left,
  .cols--group .col__right {
    clear: none;
    float: none;
    width: auto;
  }

  .box--tabled .box__cell:first-child {
    border-left: none;
    padding-left: 0;
  }

  .social-networks {
    left: 0;
  }

  .tabs li {
    float: none;
  }

  .right_panel_head_right {
    float: right;
    text-align: right;
  }
}

.media>li .avtar {
  margin-right: 0px;
  margin-left: 10px;
}

.delivery-term-data-inner ul li:before {
  left: auto;
  right: 0;
}

/* .pagination li.prev{transform: rotate(-180deg);} */
